/*      Descrição: Estruturação e Estilização da tabela
        Nome_Arquivo:index.html
        Nome do exercío: Aula 11 - Tabelas e Dados Tubulados
        Nome do Aluno: Felipe Gabriel
        Email_aluno: felipe.oliveira139@aluno.cps.sp.gov.br
        Turma: Código da Turma: WEBI-ISW028-A */

table {
    border-collapse: collapse;
    width: 500px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
} 

th{
    background-color: #ddd;
}

img{
    width: 100px;
    height: 100px;
}
